<mat-card class="container">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="">
            <img *ngIf="this.photoUrl" src="{{this.photoUrl}}" alt="" class="partner-photo">
            <mat-icon *ngIf="!firebaseService.partner.value?.photoURL">account_circle</mat-icon>
        </div>
        <mat-card-title class="card-title">
            Settings
        </mat-card-title>
        <mat-card-subtitle><span class="partner-name">{{firebaseService.partner.value?.displayName ??
                ''}}</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <form [formGroup]="settingsForm">
            <mat-form-field class="field">
                <mat-label>Name:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="settingsForm.controls?.['email']?.hasError('required')">Name required</mat-error>
            </mat-form-field>
            <mat-form-field class="field">
                <mat-label>E-mail:</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="settingsForm.controls?.['email']?.hasError('required')">E-mail required</mat-error>
                <mat-error *ngIf="settingsForm.controls?.['email']?.hasError('pattern')">Invalid e-mail
                    format</mat-error>
            </mat-form-field>
            <!--TODO: Upload photo to firestore cloud and share url of image to edit user photoUrl-->
            <!--
                <button type="button" mat-stroked-button class="large-btn" color="accent" (click)="fileInput.click()">
                    Change Profile Photo
                </button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" />
            -->
            <h3 class="title-pass">Optional Change Password: </h3>
            <mat-form-field class="field">
                <mat-label>change password:</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="settingsForm.controls?.['password']?.hasError('required')">Password
                    required</mat-error>
                <mat-error *ngIf="settingsForm.controls?.['password']?.hasError('minlength')">At least eight
                    characters</mat-error>
            </mat-form-field>
            <mat-form-field class="field">
                <mat-label>Confirm Password:</mat-label>
                <input matInput type="password" formControlName="rePassword">
                <mat-error *ngIf="settingsForm.controls?.['rePassword']?.hasError('required')">Password
                    required</mat-error>
                <mat-error *ngIf="settingsForm.controls?.['rePassword']?.hasError('minlength')">At least eight
                    characters</mat-error>
                <mat-error *ngIf="settingsForm.controls?.['rePassword']?.hasError('samepass')">Password and confirm
                    password do not coincide</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button class="large-btn" type="button" (click)="submitSettings()" mat-stroked-button color="primary"
            [disabled]="settingsForm.invalid">
            <mat-icon>send</mat-icon>
            Save Changes
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    </mat-card-footer>

</mat-card>
<mat-card>

</mat-card>