<mat-card *ngIf="gymbro">
    <mat-card-header [ngClass]="isExpired(gymbro) ? 'option-expired' : 'option-vigent'" class="card-header">
        <div mat-card-avatar class=""><mat-icon>person</mat-icon></div>
        <mat-card-title>
            <span>{{gymbro?.name ?? ''}} {{gymbro.lastName ??
                ''}}</span>
        </mat-card-title>
        <mat-card-subtitle>{{gymbro?.internalId ?? ''}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="gymbro-data-container">
            <div class="gymbro-data-title">
                Subscription start date:
            </div>
            <div class="gymbro-data">
                {{gymbro?.subscriptionStart ?? 'No start date' | date}}
            </div>
        </div>
        <div class="gymbro-data-container">
            <div class="gymbro-data-title">
                Subscription end date:
            </div>
            <div class="gymbro-data">
                {{gymbro?.subscriptionEnd ?? 'Forever' | date}}
            </div>
        </div>
        <div class="gymbro-data-container" *ngIf="gymbro?.subscriptionLap">
            <div class="gymbro-data-title">
                Subscription duration:
            </div>
            <div class="gymbro-data">
                {{gymbro?.subscriptionLap ?? ''}} month{{gymbro.subscriptionLap &&
                gymbro.subscriptionLap > 1 ? 's' : ''}}
            </div>
        </div>
        <div class="gymbro-data-container" *ngIf="gymbro?.phone">
            <div class="gymbro-data-title">
                Phone:
            </div>
            <div class="gymbro-data">
                {{gymbro?.phone ?? ''}}
            </div>
        </div>
        <div class="gymbro-data-container" *ngIf="gymbro?.email">
            <div class="gymbro-data-title">
                E-mail:
            </div>
            <div class="gymbro-data">
                {{gymbro?.email ?? ''}}
            </div>
        </div>
        <div class="gymbro-data-container">
            <div class="gymbro-data-title">
                Updated:
            </div>
            <div class="gymbro-data">
                {{gymbro?.updated ?? gymbro?.created ?? '' | date}}
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions class="mat-actions">
        <button mat-stroked-button color="secondary" (click)="editGymbro()"><mat-icon>edit</mat-icon> Edit
            Gymbro</button>
        <button mat-stroked-button color="warn" (click)="removeGymbro()"><mat-icon>delete</mat-icon> Remove
            Gymbro</button>
    </mat-card-actions>
</mat-card>