<mat-drawer-container class="app-container" *ngIf="!isLoading">
  <mat-toolbar *ngIf="isLogin">
    <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../favicon.png" alt="logo" class="logo">
    <span>{{title}}</span>
    <span class="navbar-spacer"></span>
    <div class="big-menu">

      <button mat-icon-button matTooltip="Search Gymbro" aria-label="Search Gymbro" [routerLink]="['home']">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button matTooltip="List Gymbros" aria-label="List Gymbro" [routerLink]="['list']">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-icon-button matTooltip="New Gymbro" aria-label="New Gymbro" [routerLink]="['new']">
        <mat-icon>person_add</mat-icon>
      </button>
      <button matTooltip="Account settings" aria-label="Account settings" [matMenuTriggerFor]="accountMenu"
        class="profile-button">
        <img *ngIf="firebaseService.partner.value?.photoURL" src="{{firebaseService.partner.value?.photoURL}}" alt=""
          class="partner-photo">
        <mat-icon *ngIf="!firebaseService.partner.value?.photoURL">account_circle</mat-icon>
        <span class="partner-name">{{firebaseService.partner.value?.displayName ?? ''}}</span>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item [routerLink]="['settings']"><mat-icon>settings</mat-icon> Settings</button>
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="sidenav-item">
      <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../favicon.png" alt="logo" class="logo">
      <span>{{title}}</span>
    </div>
    <hr>
    <button class="profile-button nav-item sidenav-item" aria-label="settings" [routerLink]="['settings']"
      matTooltip="Account Settings" (click)="drawer.close()">
      <img *ngIf="firebaseService.partner.value?.photoURL" src="{{firebaseService.partner.value?.photoURL}}" alt=""
        class="partner-photo">
      <mat-icon *ngIf="!firebaseService.partner.value?.photoURL">account_circle</mat-icon>
      <span class="partner-name">{{firebaseService.partner?.value?.displayName ?? ''}}</span>
    </button>
    <hr>
    <button mat-button aria-label="search" class="nav-item sidenav-item" [routerLink]="['home']"
      (click)="drawer.close()">
      <mat-icon>search</mat-icon>
      <div>Search Gymbro</div>
    </button>
    <button mat-button aria-label="list Gymbros" class="nav-item sidenav-item" [routerLink]="['list']"
      (click)="drawer.close()">
      <mat-icon>list</mat-icon>
      <div>List Gymbros</div>
    </button>
    <button mat-button aria-label="new Gymbro" class="nav-item sidenav-item" [routerLink]="['new']"
      (click)="drawer.close()">
      <mat-icon>person_add</mat-icon>
      <div>New Gymbro</div>
    </button>
    <hr>
    <button mat-button aria-label="list Gymbros" class="nav-item sidenav-item" (click)="logout()"
      (click)="drawer.close()">
      <mat-icon>logout</mat-icon>
      <div>Logout</div>
    </button>
  </mat-drawer>
  <main class="main-container">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>