<main>
    <form class="search">
        <mat-form-field class="form-field">
            <mat-label>Search Gymbro</mat-label>
            <input type="text" placeholder="search" aria-label="2114" matInput [formControl]="searchControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="onSelectionChanged($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                    [ngClass]="isExpired(option) ? 'option-expired' : 'option-vigent'">
                    {{option?.internalId ?? ''}} - {{option?.name ?? ''}} {{option?.lastName ?? ''}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <mat-card *ngIf="selectedGymbro">
        <mat-card-header [ngClass]="isExpired(selectedGymbro) ? 'option-expired' : 'option-vigent'">
            <mat-card-title>
                {{selectedGymbro?.name ?? ''}} {{selectedGymbro.lastName ?? ''}}
            </mat-card-title>
            <mat-card-subtitle>{{selectedGymbro?.internalId ?? ''}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Last Updated: {{selectedGymbro?.updated ?? selectedGymbro?.created ?? '' | date}}
            subscriptionStart: {{selectedGymbro?.subscriptionStart ?? '' | date}}
            subscriptionEnd?: {{selectedGymbro?.subscriptionEnd ?? '' | date}}
            subscriptionLap?: {{selectedGymbro?.subscriptionLap ?? ''}} months
            phone?: {{selectedGymbro?.phone ?? ''}}
            email?: {{selectedGymbro?.email ?? ''}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="accent"><mat-icon>edit</mat-icon> Edit Gymbro</button>
            <button mat-stroked-button color="warn"><mat-icon>delete</mat-icon> Remove Gymbro</button>
        </mat-card-actions>
    </mat-card>
    <div *ngIf="!firebaseService.isGymbros">
        <h2>There is no data to search</h2>
        <button mat-stroked-button color="primary" [routerLink]="['new']"> Add gymbro</button>
    </div>
</main>