<main class="container">
    <form class="search">
        <mat-form-field class="form-field">
            <mat-label>Search Gymbro</mat-label>
            <input type="text" placeholder="search" aria-label="2114" matInput [formControl]="searchControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="onSelectionChanged($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    <div [ngClass]="isExpired(option) ? 'option-expired' : 'option-vigent'" class="round-option-title">
                        {{'( '+ (option?.internalId ?? '--')+ ' ) '}} {{option?.name?.toUpperCase() ?? ''}}
                        {{option?.lastName?.toUpperCase() ?? ''}}
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <app-details [gymbro]="selectedGymbro"></app-details>
    <div *ngIf="!firebaseService.isGymbros">
        <h2>There is no data to search</h2>
        <button mat-stroked-button color="primary" [routerLink]="['new']"> Add gymbro</button>
    </div>
</main>