/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --success: #98ffba;
    --alert: #ff9898;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70vw;
    max-width: 900px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 95vw;
    }
}